# Kagaz Environment Configuration Example
# Copy this file to .env and adjust variables as needed

VITE_UPDATE_CHECK_URL="https://api.sinary.org/updates/kagaz/stable/version.json"
VITE_LEARN_URL="https://updates.sinary.org/updates/notification/kagaz/learn/index.html"
